// #### RESET #### //

@import 'normalize';

*,
*:before,
*:after {
	box-sizing: border-box;
}

html,
body {
	height: 100%;
}

header,
section,
article,
nav,
footer {
	float: left;
	width: 100%;
}

// #### IMPORT #### //

$tablet = 768px;
$mobile = 480px;

@import 'mixins';

// #### SHARED #### //

.clear-fix {
	zoom: 1;
	&:before,
	&:after{
		content: "";
		display: table;
	}
	&:after{
		clear: both;
	}
}

.container {
	max-width: 1024px;
	width: 100%;
	margin: 0 auto;
	padding: 0 20px;
}