@import 'normalize';

$tablet = 768px;
$mobile = 480px;

@import 'mixins';

*,
*:before,
*:after {
	box-sizing: border-box;
}

.clear-fix {
	zoom: 1;
	&:before,
	&:after{
		content: "";
		display: table;
	}
	&:after{
		clear: both;
	}
}
