reponsive($width) {

	@media screen and (max-width: $width) {
		{block}	
	}

}

tablet() {

	@media screen and (max-width: $tablet) {
		{block}	
	}

}

mobile() {

	@media screen and (max-width: $mobile) {
		{block}	
	}

}

center-horizontally($width){
	width: $width;
	left: 50%;
	margin-left: -($width / 2);
}