reponsive($width) {

	@media screen and (max-width: $width) {
		{block}	
	}

}

tablet() {

	@media screen and (max-width: $tablet) {
		{block}	
	}

}

mobile() {

	@media screen and (max-width: $mobile) {
		{block}	
	}

}